.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;

    &__triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;

        &-top-left {
            top: 0;
            left: 0;
            border-width: 25px 25px 0 0;
            border-color: var(--color-active) transparent transparent transparent;
        }

        &-top-right {
            top: 0;
            right: 0;
            border-width: 25px 0 0 25px;
            border-color: var(--color-active) transparent transparent transparent;
        }

        &-bottom-left {
            bottom: 0;
            left: 0;
            border-width: 0 25px 25px 0;
            border-color: transparent transparent var(--color-active) transparent;
        }

        &-bottom-right {
            bottom: 0;
            right: 0;
            border-width: 25px 0 0 25px;
            transform: rotateY(180deg);
            border-color: transparent transparent transparent var(--color-active);
        }

    }

    img {
        width: 64px;
        height: 64px;
        user-select: none;
        cursor: pointer;
        z-index: 1000;
    }

    &.black {
        background-color: var(--cell-black);
    }

    &.white {
        background-color: var(--cell-white);
    }



}

.cell-selected {
    background-color: var(--color-active) !important;
    opacity: 0.9;
}

.cell-canbeeaten {

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        background: var(--color-active);
    }

    &::before {
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    &::after {
        bottom: 0;
        right: 0;
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
}

.cell-available {
    position: relative;

    
}

.cell-available::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--color-active);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  
}